@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');

:root{
   --primary:#0a66c2;
   --secondary:rgb(237 243 248);
   --notif-color:#cb112d;
   --bg-color:rgb(244 242 238);
   --text-active:rgb(0 0 0 / 90%);
   --text-color:#000000E6;
   --border-color:rgb(140 140 140 / 20%);
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Assistant', sans-serif;
    background-color: var(--border-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--border-color);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}


/* left */
header .header-left{
    width: 370px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  /* background-color: #cb112d; */
}
header .header-input-bx{
    display: flex;
    align-items: center;
    height: 39px;
    justify-content: space-around;
    background-color: var(--secondary);
    width: 80%;
    border-radius: 6px;

 }

 header .header-input-bx input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
 }

header .header-left img{
    width: 39px;
    height: 39px;
}
/* center */
header .header-center{
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0a66c2; */
}

header .header-center i{
    font-size: 22px;
    color: var(--text-color);
}

header .header-center p{
    font-size: 15px;
    color: var(--text-color);
}

header .header-center-bx:hover p{
    color: var(--text-active);
}


header .header-center-bx{
    position: relative;
    text-align: center;
    min-width: 85px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .header-center-bx .header-center-bx-content{
      /* border: 1px solid red; */
      height: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

}

.img-profile{
    background-color: var(--bg-color);
    width: 27px;
    height: 27px;
    border-radius: 100%;
}


header .header-center-bx-notif, header .header-center-bx-active{
    position: absolute;
    
}

header .header-center-bx-notif{
    top: 2px;
    right: 15px;
    height: 2px;
    width: 100%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--notif-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
 
}
header .header-center-bx-notif p{
    color: white;

}

header .header-center-bx-active{
    display: none;
}

header .header-center-bx-active.isactive{
    display: block;
}

header .header-center-bx-active{
   bottom: 0;
   height: 2px;
   width: 100%;
   background-color: var(--text-active);
}

/* header divider */

.header-divider{
    height: 80%;
    width: 1px;
    background-color: var(--bg-color);
}


/* header right */

header .header-right{
    width: 400px;
    height: 100%;
    /* background-color: rgb(140, 0, 255); */
}

.header-right{
    display: flex;
    justify-content: space-between;
}

.header-right .header-center-bx{
  /* border: 1px solid white; */
  min-width: 50%;
}

.header-right .header-center-bx:last-child p{
  font-size: 14px;
  margin-top: 20px;
}

/* main style */
.main-container{
    margin-top: 5.3rem;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 0 7rem;
}

aside  > div{
  border-radius: 10px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin-bottom: 0.5rem ;
  background-color: white;

}
aside .left-aside-top, aside .right-aside-top{
    height: 60vh;
    /* background-color: white; */
}
aside .left-aside-bottom{

    height: 60vh;

}

aside .right-aside-bottom{

    height: 40vh;

}